@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color-green: #84b84c;
  --primary-color-green-dark: #206a5d;
  --primary-color-white: #fff;
  --primary-color-brow: #333333;
}
::selection {
  background-color: var(--primary-color-white);
}

/* Rotate first bar */

.bar1,
.bar2,
.bar3 {
  width: 33px;
  height: 2px;
  background-color: var(--primary-color-white);
  margin: 6px 0;
  transition: 0.4s;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: var(--primary-color-green-dark);
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -3px);
  transform: rotate(45deg) translate(-5px, -3px);
  background-color: var(--primary-color-green-dark);
}

.nav {
  background-color: var(--primary-color-green);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 13vh;
  border: transparent;

  transition: 0.4s;
  position: fixed;
  width: 100%;
}
.nav .nav-content {
  grid-column: 1/6;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav .nav-content .nav-iten {
  list-style: none;
}
.nav .nav-content .nav-iten .nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--primary-color-white);
  text-transform: uppercase;
  font-weight: 400;

  transition: all 0.3s;
}
.nav-i {
  color: var(--primary-color-white);

  transition: all 0.3s;
}
.nav-i:hover,
.nav .nav-content .nav-iten .nav-link:hover {
  color: var(--primary-color-white);
  opacity: 0.7;
}
.nav .nav-content .Cart {
  display: none;
}
.nav .nav-photo {
  grid-column: 6/8;

  align-self: center;
  justify-self: center;
}
.nav .nav-photo .nav-logo {
  width: 120px;
  height: auto;
}
.nav .nav-menu {
  grid-column: 8/10;
  display: none;
  cursor: pointer;

  align-self: center;
  justify-self: center;
}
.nav .nav-cart {
  grid-column: 8/-1;
  font-size: 2rem;
  cursor: pointer;

  align-self: center;
  justify-self: center;
}

/* header nav */

.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.header .header-img {
  grid-column: 1/11;
  grid-row: 1/3;
}
.header .header-img .header-movi {
  background-image: url("/src/img/@img-01.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header .header-info {
  background-color: var(--primary-color-green);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  grid-column: 4/11;
  grid-row: 2/4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
.header .header-info h2 {
  color: var(--primary-color-white);
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 300;
}
.header .header-info h1 {
  color: var(--primary-color-green-dark);
  font-size: 6rem;
  font-weight: 800;
}
.header .header-info p {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  font-size: 2.6rem;
  font-weight: 300;
  margin: 2rem 0;
  line-height: 1.5;
  padding-right: 3rem;
}
.header .header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color-green-dark);
  padding: 0.6rem 0;
  border-radius: 5rem;
  width: 50%;
}
.header .header-content .header-iten {
  list-style: none;
}
.header .header-content .header-iten .header-link {
  text-decoration: none;
}
.header .header-content .header-iten .header-link .fab {
  color: var(--primary-color-green);
  font-size: 2.8rem;

  transition: all 0.3s;
}
.header .header-content .header-iten .header-link .fab:hover {
  color: var(--primary-color-white);
}
.btn {
  background-color: var(--primary-color-green);
  color: var(--primary-color-white);
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  border: transparent;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;

  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--primary-color-white);
  color: var(--primary-color-green-dark);
}

/* card */

.card {
  max-width: 114rem;
  margin: 4rem auto;
}
.card h1 {
  color: var(--primary-color-green);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 6rem;
  margin-left: 4rem;
}
.card h2 {
  color: var(--primary-color-green-dark);
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-left: 4.5rem;
}
.card .card-row {
  display: flex;
  justify-content: space-evenly;
}
.card .card-row .card-contet {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  padding: 0.8rem;
  width: 30%;
  margin: 0 auto;
}
.card .card-row .card-contet img {
  width: 100%;
  height: 18rem;
}
.card .card-row .card-contet ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 32vh;
  list-style: none;
  padding: 1rem;
}
.card .card-row .card-contet ul li {
  align-self: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
}
.card .card-row .card-contet ul li:nth-child(1) {
  grid-row: 1/2;
}
.card .card-row .card-contet ul li:nth-child(2) {
  grid-row: 2/3;
}
.card .card-row .card-contet ul li:nth-child(3) {
  grid-row: 3/4;
}
.card .card-row .card-contet ul li:nth-child(4) {
  grid-row: 4/5;
}
.card .card-row .card-contet ul li:nth-child(5) {
  grid-row: 5/7;
}
.card .card-row .card-contet ul li .fas,
.card .card-row .card-contet ul li span .far {
  color: var(--primary-color-green-dark);
  margin-right: 0.5rem;
}
.card .card-row .card-contet ul li span {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  font-weight: 300;
  text-transform: lowercase;
}
.card .card-row .card-contet ul li {
  width: 100%;
}
.card .card-row .card-contet ul li a {
  color: var(--primary-color-green);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration-line: underline;
  font-size: 1.8rem;
}
.card .card-row .card-contet ul li a:hover {
  color: var(--primary-color-green-dark);
}

/* service */
.service {
}
.space {
  margin-top: 7rem;
}
.service-all {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.service-all .service-cont {
}
.service-all .service-cont h2 {
  color: var(--primary-color-green);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.service-all .service-cont .service-color {
  color: var(--primary-color-green-dark);
}
.service-all .service-cont hr {
  background-color: var(--primary-color-green-dark);
  height: 3px;
  border: none;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.service-all .service-cont p {
  color: var(--primary-color-brow);
  white-space: normal;
  width: 50%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2;
}
/* about */

.about {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  max-width: 114rem;
  margin: 5rem auto;
}
.about-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-row .about-cont {
  background-color: var(--primary-color-green);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 6rem 3em;
}
.about-row .about-cont h1 {
  color: var(--primary-color-green-dark);
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
}
.about-row .about-cont h1 span {
  color: var(--primary-color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 4.6rem;
}
.about-row .about-cont p {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  font-size: 1.6rem;
  font-weight: 200;
  margin: 1rem 0;
  text-indent: 2rem;
  line-height: 1.5;
}
.about-row .about-cont hr {
  width: 80%;
  margin: 1rem 0;
}
.about-row .about-cont h2 {
  color: var(--primary-color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 2rem;
}
.about-row img {
  width: 50%;
  height: auto;
}
/* testimonial */

.testimonial {
  max-width: 114rem;
  margin: 10rem auto;
}
.testimonial .test-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 6rem;
}
.testimonial .test-row .test-cont {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 1px rgba(0, 0, 0, 0.12);
  width: 24%;
  padding: 1rem;
}
.testimonial .test-row .test-cont .test-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.testimonial .test-row .test-cont .test-space .test-img {
  width: 30%;
  padding: 1rem;
}
.testimonial .test-row .test-cont .test-space .test-img img {
  width: 100%;
  height: auto;
  margin-top: 0.2rem;
}
.testimonial .test-row .test-cont .test-space .test-name {
  border: solid 1px var(--primary-color-green);
  padding: 0.5rem;
  width: 70%;

  transition: all 0.3s;
}
.testimonial .test-row .test-cont .test-space .test-name:hover {
  border: solid 1px var(--primary-color-green-dark);
}
.testimonial .test-row .test-cont .test-space .test-name .test-title {
  margin-left: 1rem;
}

.testimonial .test-row .test-cont .test-space .test-name .test-title h4 {
  color: var(--primary-color-brow);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.testimonial .test-row .test-cont .test-space .test-name .test-title p {
  color: var(--primary-color-green-dark);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}
.testimonial .test-row .test-cont .test-text {
  padding: 0 1rem;
}
.testimonial .test-row .test-cont .test-text p {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  text-indent: 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}

/* form */

.form {
  width: 80%;
  margin: 5rem auto;
}
::placeholder {
  color: var(--primary-color-brow);
  opacity: 0.4;
}
.form .form-table tr th i {
  background-color: var(--primary-color-green);
  font-size: 2rem;
  padding: 2.3rem;
  margin-bottom: 2rem;
}
.form .form-table tr td {
  width: 100%;
  padding-bottom: 2rem;
}
.form .form-table tr td input {
  border: solid 0px var(--primary-color-green);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  padding: 2rem;
  width: 100%;
  font-size: 2rem;

  transition: all 0.3s;
}
.form .form-table tr td input:hover {
  border: solid 0.5px var(--primary-color-green);
}
.form .form-text textarea:focus,
.form .form-table tr td input:focus {
  outline: none;
}
.form .form-text textarea {
  border: solid 0px var(--primary-color-green);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
  resize: none;
  margin-bottom: 2rem;
  height: 17rem;

  transition: all 0.3s;
}
.form .form-text textarea:hover {
  border: solid 0.5px var(--primary-color-green);
}
.form .form-send {
}
.form .form-send input {
  cursor: pointer;
  border: solid 2px var(--primary-color-green);
  padding: 1.5rem 3rem;
  font-size: 2rem;

  transition: all 0.3s;
}
.form .form-send input:hover {
  background-color: var(--primary-color-green-dark);
  border: solid 2px var(--primary-color-green-dark);
  color: var(--primary-color-white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 4px rgba(0, 0, 0, 0.12);
  padding: 1.5rem 3rem;
  font-size: 2rem;
}
.footer {
  background-color: var(--primary-color-green);
  height: 60vh;
  margin-top: 18rem;
}
.footer .footer-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.footer .footer-row ul {
  width: 25%;
  list-style: none;
}
.footer .footer-row ul:nth-child(1) li {
  margin-bottom: 1.1rem;

  display: flex;
  align-items: center;
}
.footer .footer-row ul:nth-child(1) li img {
  width: 60%;
  height: auto;
}
.footer .footer-row ul:nth-child(1) li p {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  margin: 1.2rem 0;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 300;
  font-stretch: normal;
  text-indent: 1.5rem;
}
.footer .footer-row ul:nth-child(1) li a {
  color: var(--primary-color-green-dark);
  font-size: 1.4rem;
  text-decoration: none;

  transition: all 0.3s;
}
.footer .footer-row ul:nth-child(1) li a:hover {
  color: var(--primary-color-white);
}

.footer .footer-row ul:nth-child(2) li {
  margin-bottom: 2.5rem;
}
.footer .footer-row ul:nth-child(2) li:not(:first-child) {
  border-bottom: solid 0.1px var(--primary-color-brow);
  padding-bottom: 0.5rem;
}
.footer .footer-row ul:nth-child(2) li a {
  color: var(--primary-color-green-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-left: 1rem;
  text-decoration: none;

  transition: all 0.3s;
}
.footer .footer-row ul:nth-child(2) li a:hover {
  color: var(--primary-color-white);
}

.footer .footer-row ul:nth-child(3) li {
  margin-bottom: 3rem;
}
.footer .footer-row ul:nth-child(3) li a {
  color: var(--primary-color-brow);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 1rem;
  line-height: 2;
  text-decoration: none;

  transition: all 0.3s;
}
.footer .footer-row ul:nth-child(3) li a:hover {
  color: var(--primary-color-white);
}
.footer .footer-row ul:nth-child(3) li small {
  color: var(--primary-color-green-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
}

.footer .footer-row ul li i {
  color: var(--primary-color-green-dark);
  font-size: 1.6rem;
  padding-right: 1rem;
  width: 12%;
}
.footer .footer-row ul li span {
  color: var(--primary-color-green-dark);
  font-size: 1.4rem;
}

.footer .footer-row ul li h1 {
  color: var(--primary-color-white);
  font-size: 2.2rem;
}
