:root {
  --primary-color-green: #84b84c;
  --primary-color-green-dark: #206a5d;
  --primary-color-white: #fff;
  --primary-color-brow: #333333;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
  /* nav */

  .nav .nav-cart {
    display: none;
  }
  .nav .nav-content .Cart {
    display: block;
  }
  .nav .nav-content {
    background-color: var(--primary-color-green);
    display: flex;
    flex-direction: column;
    margin-top: 8.2rem;
    height: 60vh;
    width: 40vw;
    position: fixed;
    transform: translateX(-100%);

    transition: all 0.3s;
  }
  .nav .nav-toggle {
    transform: translateX(0%);
  }
  .nav .nav-menu {
    display: block;
  }
  .nav .nav-photo {
    grid-column: 3/8;
  }
  /* header */
  .header .header-info {
    grid-column: 1/11;
  }
  .header .header-img .header-movi {
    background-image: url("/src/img/@img-01-S.jpg");
  }
  .header .header-content {
    padding: 1.6rem 0;
  }
  /* card */

  .card .card-row {
    flex-direction: column;
  }
  .card .card-row .card-contet {
    margin: 2rem auto;
    width: 50%;
  }
  .card .card-row .card-contet img {
    height: auto;
  }
  .card .card-row .card-contet ul {
    height: 30vh;
  }
  /* about */
  .about {
    box-shadow: none;
  }
  .about-row img {
    display: none;
  }
  .about-row {
    flex-direction: column;
    align-items: center;
  }
  .about-row .about-cont {
    width: 80%;
    margin: 2rem 0;
  }
  /* testimonial  */
  .testimonial .test-row .test-cont {
    width: 48%;
    margin: 2rem 0;
    padding: 2rem;
  }
  .testimonial .test-row .test-cont .test-text p {
    font-size: 1.4rem;
  }
  /* footer */

  .footer .footer-row ul {
    width: 45%;
  }
  .footer .footer-row ul:nth-child(1) li img {
    width: 55%;
    height: 8vh;
  }
  .footer .footer-row ul:nth-child(2) {
    display: none;
  }
}
/* {425px / 16px = 26,5625em} mobil L  <<<<< */
@media only screen and (max-width: 26.5625em) {
  html {
    font-size: 30%;
  }
  .header {
    grid-template-rows: repeat(2, 1fr);
  }
  .nav .nav-content {
    margin-top: 13.7rem;
    height: 50vh;
    width: 50vw;
  }
  .nav .nav-content .nav-iten .nav-link {
    font-size: 2.6rem;
    font-weight: 300;
  }
  .card .card-row .card-contet {
    width: 70%;
  }
  .card .card-row .card-contet ul li {
    font-size: 2.7rem;
  }
  .card .card-row .card-contet ul li a {
    font-size: 2.8rem;
  }
  /* footer */
  .footer {
    height: 67vh;
  }
  .footer .footer-row ul {
    width: 70%;
  }
  .footer .footer-row ul li h1 {
    font-size: 3.2rem;
  }
  .footer .footer-row {
    flex-direction: column;
    margin: 4rem;
  }
  .footer .footer-row ul:nth-child(1) li img {
    width: 100%;
    height: auto;
  }
  .footer .footer-row ul:nth-child(1) li p {
    font-size: 1.6rem;
  }
}
/* {325px / 16px = 23,4375em} mobil M <<<<< */
@media only screen and (max-width: 23.4375em) {
  html {
    font-size: 25%;
  }
  .nav .nav-content {
    margin-top: 16.4rem;
    height: 40vh;
    width: 40vw;
  }
  .header .header-img .header-movi {
    height: 90vh;
  }
}
/* {320px / 16px = 20em} mobil S <<<<< */
@media only screen and (max-width: 20em) {
  html {
    font-size: 23%;
  }
  .nav .nav-content {
    margin-top: 18rem;
  }
}
